
# Android Studio captures folder
captures/

# IntelliJ
*.iml
App/.idea

App/node_modules

#Android
App/android/.gradle
App/android/.idea
App/android/build
App/android/app/build
App/android/app/*.iml
App/android/local.properties




