
# Android Studio captures folder
captures/

# IntelliJ
*.iml
App/.idea

App/node_modules
.DS_Store
App/.DS_Store
#Android
App/android/.gradle
App/build
App/android/.idea
App/android/build
App/android/app/build
App/android/app/*.iml
App/android/local.properties




