
# Android Studio captures folder
captures/

# IntelliJ
*.iml
.idea

node_modules

#Android
android/.gradle
android/.idea
android/build
android/app/build
android/app/*.iml
android/local.properties




